/* Enter your custom styles here */
@media only screen {
    .visible-for-print-only {
        display: none;
    }
}
.bay-table-outer-wrapper {
	/*background: #fff;*/
    position: absolute;
    top: 13rem;
    left: 0;
    right: 0;
    bottom: 0rem;
}
.bay-table-inner-wrapper {
	position: absolute;
    top: 3rem;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
}
.bay-table {
	border-collapse: collapse;
}
.bay-table-border {
    margin: 0.7rem;
    border: 2px solid #F35B4A;
}
.bay-row-height {
	line-height: 3em;
}
.visible-header-wrapper {
    width: 100%;
    height: 3rem;
    background: #F35B4A;
}
.visible-header-scroll-part {
    border-left: 1px solid #EF8E73;
    border-bottom: 1px solid #EF8E73;
    right: 0;
    position: absolute;
    width: 1rem;
    height: 3rem;
    z-index: 2;
    background: #F35B4A;
}
.bay-row-paddings {
	padding: 0 1rem;
}
.bay-table-cell {
	padding: 0 0.7em;
}
.bay-table-cell2 {
	padding: 0 0.3em;
}
.bay-table-cell2 .sapMInputBaseInner {
    padding: 0 0.2rem;
}
.bay-row-border-bottom td {
	border-bottom: 2px solid black;
}
.progress-bar-text-middle span {
	width: 100%;
	text-align: center;
}
/*technical*/
.-visible-header-table {
	/*background: white;*/
	position: absolute;
	z-index: 2;
}
.thead-invisible-header {
	visibility: hidden;
}
.-invisible-header {
	line-height: 0px;
}
.bay-row {
	height: 3rem;
}
.sapUiProgIndEnd {
	background-color: black !important;
}
.sapUiProgIndBorder {
	border: 1px solid #000000 !important;
}
.bay--empty-cell {
    text-align: center;
    font-weight: bold;
}
.bayRedColour {
    color: red;
}
.sap-custom-icon-adjust  {
    -webkit-filter: invert(100%);
}
.sap-custom-icon-adjust img:active {
    -webkit-filter: invert(0%);
}

.bay-table .sapMObjectNumberStatusError {
    color: red !important;
}
.bay-week-colour0 {
    background: #FDFFBA;
}
.bay-week-colour1 {
    background: #FFF5F0;
}

.panel-border {
    border-style: solid;
}
.texts-font {
     font-size: 130%;
}
.sapMShellContent {
    overflow: hidden;
}
.sapMShellBrandingBar {
    display: none;
}
.sap-custom-font-size {
    font-size: 1.2rem;
}